body {
  margin: 0;
  /* background-color: rgb(36, 36, 36); */
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



/* Responsive Design
big screen => 1200 and above
    medium screens => 586px to 990px
    small screen => 586 and smaller
    */
    
    /* Bigger screen
    */
    @media(min-width:1024px){
      .bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        border-bottom: 8px solid #232323;
      }
      .bg-img {
        width: 100%;
        height: 100%;
        transform: scale(1.25);
        object-fit: cover;
        object-position: bottom;
      }
      .tint {
        background-color: rgb(0 0 0 / 40%);
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 0.8) 100%
        );
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        position: absolute;
      }
      .nav-bar {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        /* width: 1200px; */
        width: calc(100vw - 320px);
        top: 6.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
      }
      .nav-button {
        display: flex;
        gap: 12px;
        /* color: white; */
      }
      .eng-container {
        display: flex;
        align-items: center;
        border: 1px solid rgb(133, 133, 133);
        padding: 6px 12px 6px 6px;
        gap: 5px;
        border-radius: 5px;
      }
      .sign-in {
        background-color: rgb(229, 9, 20);
        padding: 8px 14px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        color: white;
        border-radius: 5px;
      }
      .english-btn {
        background-color: rgba(0, 0, 0, 0.355);
        border: none;
        font-weight: 500;
        color: white;
        font-size: 14px;
      
      }
      .container {
        position: absolute;
        top: 55%;
        color: white;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .heading {
        margin-bottom: -10px;
        width: 990px;
        font-size: 48px;
      }
      .para {
        /* font-size: 2.5vmax; */
        font-size: 28px;
      }
      .para1 {
        font-size: 20px;
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
      .btn-content {
        display: flex;
        padding: 12px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .input-mail {
        padding: 16px 170px 16px 16px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(26, 26, 26, 0.432);
      }
      .btn-text {
        font-size: 24px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }

      /* container 1 */
      
      .container1 {
        /* width: calc(100vh - 40px); */
        display: flex;
        background-color: black;
        position: relative;
      }
      .left {
        width: 100%;
        color: white;
        background-color : black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        width: 100%;
        position: relative;
      }
      .tv {
        width: 100%;
        position: absolute;
      }
      .tv-video {
        width: 85%; 
        top: 6vmax;
        left: 5vmax; 
        position: absolute;
      }
      
      /* container 2 */
      
      .container2 {
        display: flex;
        border-top: 8px solid #232323;
        margin-bottom: -60px;
      }
      .right1 {
        margin: 60px auto;
        /* width: 600px; */
        width: 50%;
        margin: 20px 160px 20px 0px;
        padding: 80px 40px 80px 40px;
        color: white;
      }
      .right-heading {
        font-size: 48px;
      }
      .right-para {
        font-size: 24px;
      }
      
      .left1 {
        width: 50%;
        position: relative;
        margin: 20px 0 120px 100px;
      }
      .mobile {
        width: 100%;
      }
      .box {
        
        width: 50%;
        height: 24%;
        color: white;
        border-radius: 10px;
        background-color: black;
        border: 1px solid lightgray;
        display: flex;
        position: relative;
        bottom: 145px;
        left: 145px;
      }
      .boxshot {
        width: 70px;
        bottom: 5px;
        position: absolute;
        left: 10px;
      }
      .box-content {
        position: absolute;
        bottom: 20px;
        left: 100px;
      }
      
      .para2 {
        font-size: 16px;
        font-weight: bold;
      }
      .para3 {
        margin-top: -12px;
        font-size: 14px;
      }
      .disney {
        /* width: 500px; */
      }
      
      .container3 {
        display: flex;
        background-color: black;
        position: relative;
        border-top: 8px solid #232323;
      }
      .left {
        margin: 60px 0 60px 100px;
        padding: 70px;
        padding-right: 0;
      
        width: 550px;
        color: white;
        background-color: black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        width: 40vw;
        position: relative;
      }
      .device {
        margin: 60px 0px 60px 60px;
        width: 550px;
        position: absolute;
      }
      .video-devices {
        width: 320px;
        top: 22%;
        left: 170px;
        position: absolute;
      }
      
      .ask-container {
        margin-top: 50px;
        border-top: 8px solid #232323;
        text-align: center;
      }
      
      .ask-heading {
        font-size: 48px;        
        color: white;
        margin-bottom: 30px;
      }
      
      .ask-text {
        font-size: 24px;
        background-color: #232323;
        width: 1100px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        margin: 8px auto;
        padding: 0px 25px;
      }
      .membership {
        text-align: center;
        padding: 18px;
        margin: 18px auto;
      }
      .para4 {
        font-size: 20px;
        color: white;
      }
      .membership-input {
        display: flex;
        justify-content: center;
        gap: 8px;
      }
      .m-mail {
        padding: 16px 180px 16px 5px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(62, 61, 61, 0.432);
      }
      .btn-container {
        display: flex;
        padding: 12px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .btn {
        font-size: 24px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }
      .foot-text {
        color: white;
        display: flex;
        text-decoration: underline;
        justify-content: start;
        gap: 120px;
      }
}

 /* mediun screen
  */

@media(min-width:600px) and (max-width:1023px){
    .bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      .bg-img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        object-fit: cover;
        object-position: bottom;
      }
      .tint {
        background-color: rgb(0 0 0 / 40%);
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 0.8) 100%
        );
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        position: absolute;
      }
      .nav-bar {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 80px);
        top: 6.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
      }
      .nav-button {
        display: flex;
        gap: 12px;
      }
      .eng-container {
        display: flex;
        align-items: center;
        border: 1px solid rgb(133, 133, 133);
        padding: 6px 12px 6px 6px;
        gap: 5px;
        border-radius: 5px;
      }
      .sign-in {
        background-color: rgb(229, 9, 20);
        padding: 8px 14px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        color: white;
        border-radius: 5px;
      }
      .english-btn {
        background-color: rgba(0, 0, 0, 0.355);
        border: none;
        font-weight: 500;
        color: white;
        font-size: 14px;      
      }
      .container {
        position: absolute;
        top: 55%;
        color: white;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .heading {
        margin-bottom: -10px;
        width: 500px;
        font-size: 4.5vmax;
      }
      .para {
        font-size: 3vmax;
      }
      .para1 {
        font-size: 2.2vmax;
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
      .btn-content {
        display: flex;
        padding: 14px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .input-mail {
        padding: 16px 130px 16px 16px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(26, 26, 26, 0.432);
      }
      .btn-text {
        width: 100px;
        font-size: 16px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }
      .container1 {
        display: flex;
        background-color: black;
        position: relative;
        border-top: 8px solid #232323;
      }
      .left {
        margin: 60px 0 60px 100px;
        padding: 70px;
        padding-right: 0;
        width: 550px;
        color: white;
        background-color: black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        position: relative;
      }
      .tv {
        margin: 60px 0px 60px 60px;
        width: 550px;
        position: absolute;
      }
      .tv-video {
        width: 455px;
        top: 30%;
        left: 130px;
        position: absolute;
      }
      
      /* container 2 */
      
      .container2 {
        display: flex;
        border-top: 8px solid #232323;
        margin-bottom: -60px;
      }
      .right1 {
        margin: 60px auto;
        width: 600px;
        margin: 20px 160px 20px 0px;
        padding: 80px 40px 80px 40px;
        color: white;
      }
      .right-heading {
        font-size: 48px;
      }
      .right-para {
        font-size: 24px;
      }
      
      .left1 {
        width: 50%;
        position: relative;
        margin: 20px 0 20px 100px;
      }
      .mobile {
      }
      .box {
        width: 330px;
        height: 110px;
        color: white;
        border-radius: 10px;
        background-color: black;
        border: 1px solid lightgray;
        display: flex;
        position: relative;
        bottom: 145px;
        left: 155px;
      }
      .boxshot {
        width: 70px;
        bottom: 5px;
        position: absolute;
        left: 10px;
      }
      .box-content {
        position: absolute;
        bottom: 20px;
        left: 100px;
      }
      
      .para2 {
        font-size: 16px;
        font-weight: bold;
      }
      .para3 {
        margin-top: -12px;
        font-size: 14px;
      }
      .disney {
        /* width: 500px; */
      }
      
      .container3 {
        display: flex;
        background-color: black;
        position: relative;
        border-top: 8px solid #232323;
      }
      .left {
        margin: 60px 0 60px 100px;
        padding: 70px;
        padding-right: 0;
      
        width: 550px;
        color: white;
        background-color: black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        position: relative;
      }
      .device {
        margin: 60px 0px 60px 60px;
        width: 550px;
        position: absolute;
      }
      .video-devices {
        width: 320px;
        top: 22%;
        left: 170px;
        position: absolute;
      }
      
      .ask-container {
        margin-top: 50px;
        border-top: 8px solid #232323;
        /* background-color: white;   */
        text-align: center;
      }
      
      .ask-heading {
        font-size: 48px;
        color: white;
        margin-bottom: 30px;
      }
      
      .ask-text {
        font-size: 24px;
        background-color: #232323;
        width: 1100px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        margin: 8px auto;
        padding: 0px 25px;
      }
      .membership {
        text-align: center;
        /* border-bottom: 8px solid #232323;  */
        padding: 18px;
        margin: 18px auto;
      }
      .para4 {
        font-size: 20px;
        color: white;
      }
      .membership-input {
        display: flex;
        justify-content: center;
        gap: 8px;
      }
      .m-mail {
        padding: 16px 180px 16px 5px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(62, 61, 61, 0.432);
      }
      .btn-container {
        display: flex;
        padding: 12px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .btn {
        font-size: 24px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }
      .foot-text {
        color: white;
        display: flex;
        text-decoration: underline;
        justify-content: start;
        gap: 120px;
      }
}
 /* small screen
  */
@media(max-width:599px){
    .bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      .bg-img {
        width: 100%;
        height: 100%;
        transform: scale(1.25);
        object-fit: cover;
        object-position: bottom;
      }
      .tint {
        background-color: rgb(0 0 0 / 40%);
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 0.8) 100%
        );
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }
      .nav-bar {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        top: 6.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
      }
      .nav-button {
        display: flex;
        gap: 12px;
        /* color: white; */
      }
      .eng-container {
        display: flex;
        align-items: center;
        border: 1px solid rgb(133, 133, 133);
        padding: 6px 12px 6px 6px;
        gap: 5px;
        border-radius: 5px;
      }
      .sign-in {
        background-color: rgb(229, 9, 20);
        padding: 8px 14px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        color: white;
        border-radius: 5px;
      }
      .english-btn {
        background-color: rgba(0, 0, 0, 0.355);
        border: none;
        font-weight: 500;
        color: white;
        font-size: 14px;
      
        /* padding: 6px 12px; */
      }
      .container {
        position: absolute;
        top: 55%;
        color: white;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .heading {
        margin-bottom: -10px;
        width: 990px;
        font-size: 48px;
      }
      .para {
        font-size: 28px;
      }
      .para1 {
        font-size: 20px;
      }
      .button {
        /* width: 990px; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
      .btn-content {
        display: flex;
        padding: 12px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .input-mail {
        padding: 16px 170px 16px 16px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(26, 26, 26, 0.432);
      }
      .btn-text {
        font-size: 24px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }
      .container1 {
        display: flex;
        background-color: black;
        position: relative;
        border-top: 8px solid #232323;
      }
      .left {
        margin: 60px 0 60px 100px;
        padding: 70px;
        padding-right: 0;
      
        width: 550px;
        color: white;
        background-color: black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        position: relative;
      }
      .tv {
        margin: 60px 0px 60px 60px;
        width: 550px;
        position: absolute;
      }
      .tv-video {
        width: 455px;
        top: 30%;
        left: 130px;
        position: absolute;
      }
      
      /* container 2 */
      
      .container2 {
        display: flex;
        border-top: 8px solid #232323;
        margin-bottom: -60px;
      }
      .right1 {
        margin: 60px auto;
        width: 600px;
        margin: 20px 160px 20px 0px;
        padding: 80px 40px 80px 40px;
        color: white;
      }
      .right-heading {
        font-size: 48px;
      }
      .right-para {
        font-size: 24px;
      }
      
      .left1 {
        width: 50%;
        position: relative;
        margin: 20px 0 20px 100px;
      }
      .mobile {
      }
      .box {
        width: 330px;
        height: 110px;
        color: white;
        border-radius: 10px;
        background-color: black;
        border: 1px solid lightgray;
        display: flex;
        position: relative;
        bottom: 145px;
        left: 155px;
      }
      .boxshot {
        width: 70px;
        bottom: 5px;
        position: absolute;
        left: 10px;
      }
      .box-content {
        position: absolute;
        bottom: 20px;
        left: 100px;
      }
      
      .para2 {
        font-size: 16px;
        font-weight: bold;
      }
      .para3 {
        margin-top: -12px;
        font-size: 14px;
      }
      .disney {
        /* width: 500px; */
      }
      
      .container3 {
        display: flex;
        background-color: black;
        position: relative;
        border-top: 8px solid #232323;
      }
      .left {
        margin: 60px 0 60px 100px;
        padding: 70px;
        padding-right: 0;
      
        width: 550px;
        color: white;
        background-color: black;
      }
      .left-heading {
        font-size: 48px;
      }
      .left-para {
        font-size: 24px;
      }
      .right {
        position: relative;
      }
      .device {
        margin: 60px 0px 60px 60px;
        width: 550px;
        position: absolute;
      }
      .video-devices {
        width: 320px;
        top: 22%;
        left: 170px;
        position: absolute;
      }
      
      .ask-container {
        margin-top: 50px;
        border-top: 8px solid #232323;
        /* background-color: white;   */
        text-align: center;
      }
      
      .ask-heading {
        font-size: 48px;
        color: white;
        margin-bottom: 30px;
      }
      
      .ask-text {
        font-size: 24px;
        background-color: #232323;
        width: 1100px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        margin: 8px auto;
        padding: 0px 25px;
      }
      .membership {
        text-align: center;
        /* border-bottom: 8px solid #232323;  */
        padding: 18px;
        margin: 18px auto;
      }
      .para4 {
        font-size: 20px;
        color: white;
      }
      .membership-input {
        display: flex;
        justify-content: center;
        gap: 8px;
      }
      .m-mail {
        padding: 16px 180px 16px 5px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 211, 0.678);
        border-radius: 5px;
        background-color: rgba(62, 61, 61, 0.432);
      }
      .btn-container {
        display: flex;
        padding: 12px;
        border-radius: 5px;
        background-color: red;
        border: none;
        align-items: center;
      }
      .btn {
        font-size: 24px;
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
      }
      .foot-text {
        color: white;
        display: flex;
        text-decoration: underline;
        justify-content: start;
        gap: 120px;
      }
}